{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>User List</h1>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eaque ex facilis fuga impedit magnam neque repellat temporibus totam voluptatibus. Accusamus asperiores eligendi, facere molestiae nobis officia pariatur porro quasi!
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid aperiam, at consequatur deserunt error eum,
    excepturi fuga fugit itaque, maiores natus nesciunt nihil perspiciatis possimus quisquam sit temporibus veritatis.
</div>
<div>Amet architecto autem error et facere necessitatibus officia perspiciatis veritatis. At corporis doloribus ducimus
    excepturi exercitationem nostrum. Atque, corporis cum harum non quo repellendus reprehenderit sapiente sed vero
    vitae voluptatibus.
</div>
<div>A animi commodi deserunt, dolorum ea eaque expedita incidunt ipsum minima nemo nobis numquam perspiciatis qui quia
    repellendus sed sequi, sint ut vel voluptate. Animi error id perspiciatis quisquam unde!
</div>
<div>Obcaecati possimus rerum vel! Aperiam asperiores aspernatur delectus enim eos et magnam molestiae nam, placeat
    vero? Adipisci animi autem commodi cum delectus, expedita ipsa maxime, molestias nihil, possimus provident
    quibusdam?
</div>
<div>Accusamus alias amet animi debitis, delectus distinctio esse fugiat fugit inventore ipsum iste laudantium officiis
    placeat quasi recusandae veniam voluptatibus. Ab beatae eos laborum perspiciatis praesentium repellendus sapiente
    sunt vitae.
</div>
{% endblock %}
